[submodule "evmjit"]
	path = evmjit
	url = https://github.com/ethereum/evmjit
	branch = develop
[submodule "test/tests"]
	path = test/jsontests
	url = https://github.com/ethereum/tests.git
[submodule "cpp-ethereum"]
	path = cpp-ethereum
	url = https://github.com/ethereum/cpp-ethereum.git
